<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>home</title>
</head>
<body>
  <h2>Home page - yahoooo</h2>
<hr> welcome

  <hr>
  User :<span sec:authentication="principal.username">User</span>
  <br><br>
  Role(s): <span sec:authentication="principal.authorities">Role</span>
  <br><br>
  <hr>

  <a th:href="@{/leaders}">Leadership meeting</a>
  <hr>

  <a th:href="@{/systems}">IT Systems meeting</a>

<form action="#" th:action="@{/logout}" method="post">
  <input type="submit" value="Logout" />
</form>
</body>
</html>